/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  margin: 10px 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

button {
  display: block;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto; /* Esto centra el botón */
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para las tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 4px;
}

table th {
  background-color: #007bff;
  color: white;
  text-align: left;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

/* Estilos para tablas con borde redondeado */
table.rounded {
  border-radius: 5px;
  overflow: hidden;
}

table.rounded th, table.rounded td {
  border: none;
}

table.rounded th {
  background-color: #007bff;
  color: white;
  padding: 10px;
}

table.rounded td {
  padding: 10px;
}

form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="checkbox"],
form input[type="radio"] {
  margin-right: 10px;
}

form button {
  display: inline-block;
  width: auto; /* Esto asegura que los botones dentro de los formularios no se expandan al 100% */
  margin: 0; /* Restablece los márgenes para botones dentro de formularios */
}

form .form-group {
  margin-bottom: 20px;
}

